<!DOCTYPE html>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/static/css/style.css" rel="stylesheet" >
    </head>
<body>

    <div class="container">
        <div class="header">     <h1>Le grand débat</h1> </div>
        <div class="row">
            
            <div class="col-sm">
                <div class="card">
                    <img src="/static/img/droite.png" class="card-img-top">
                    <p class="card-block">{{content_droite}}</p>
                </div>
            </div>
            <div class="col-sm" style="min-height: 600px; margin-top: 10%">
                <div class="card" class="align-middle">
                    <form action="/answer" method="POST" class="align-middle">
                        <input type="text" name="question" placeholder="Question">
                        <button type="submit" class="btn btn-primary">Poser la question</button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="/static/img/gauche.png" class="card-img-top">
                    <p class="card-block">{{content_gauche}}</p>
                </div>
            </div>
        </div>
</div>

</body>
</html>

